node_modules/
.terraform/
*.tfstate*
frontend/config.js
infra/.terraform/
infra/.terraform.lock.hcl
infra/.terraform/
ble.shinfra/.terraform/
infra/.terraform/tfstate
infra/.terraform/backup
backend/venv/
node_modules/
